@import url('https://cdn.fontcdn.ir/Font/Shabnam/Shabnam.css');

body {
    font-family: 'Shabnam', sans-serif;
}
@font-face {
    font-family: 'Shabnam';
    src: url('https://cdn.fontcdn.ir/Font/Shabnam/Shabnam.eot');
    src: url('https://cdn.fontcdn.ir/Font/Shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Shabnam/Shabnam.woff2') format('woff2'),
         url('https://cdn.fontcdn.ir/Font/Shabnam/Shabnam.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
